body {
  padding-top: 60px;
  font-size: 14px !important;
  font-weight: normal !important;
}

/* Site Header CSS Start here */
.navbar-brand {
  margin-right: 0;
}

.navbar-dark .navbar-brand {
  color: #ff9909 !important;
}

.navbar {
  padding-top: .2rem;
  padding-bottom: .2rem;
}

.navBg {
  background: rgb(2, 0, 36);
  background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(11, 33, 209, 1) 70%, rgba(0, 212, 255, 1) 100%);
}

/* .gradienHeader {
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 26%, rgba(52,6,168,1) 74%, rgba(0,212,255,1) 100%);
} */

.logoOrange {
  color: orange;
}

.logoWhite {
  color: white;
}

.logoGreen {
  color: green;
}

.navbar-brand {
  margin-right: 0;
}

/* .logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.App-logo {
  height: 25px;
  pointer-events: none;
  padding-left: 10px;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.pageHeader {
  display: block;
  background: #f7f7f9;
  padding: 15px 0;
  margin-bottom: 20px;
  box-shadow: 1px 0px 2px #888;
}

.pageHeading {
  font-family: monospace;
  margin-bottom: 0;
  color: #054682 !important;
  font-size: 30px;
}

.swarajMainBody {
  position: relative;
  display: block;
  width: 100%;
  min-height: 465px;
  height: auto;
}


/* Site Footer CSS Start here */
.siteFooter {
  /* background: rgb(2,0,36); */
  background: radial-gradient(circle, rgba(2, 0, 36, 1) 0%, rgba(9, 21, 121, 1) 49%, rgba(0, 212, 255, 1) 100%);
  padding: 10px 0;
  margin-top: 20px;
}

.footerText {
  color: #fff;
  font-size: 12px;
  text-align: center;
  margin-bottom: 0;
}

h2,
h3,
h4,
h5,
h6 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif !important;
}

h2 {
  font-size: 32px !important;
  color: #022441 !important;
}

h3 {
  font-size: 28px !important;
  color: #cc0995 !important
}

h4 {
  font-size: 24px !important;
  color: #7807f4 !important;
}

h5 {
  font-size: 20px !important;
  color: #0d61dc !important
}

h6 {
  font-size: 16px !important;
  color: #2206ad !important;
  line-height: 1.5rem !important;
}